{% extends "layout.html" %}

{% block main %}
    <div class="containerR">

        <form style="text-align:center;" action="/register" method="POST">
            <div class="registerInput">
                <h1 style="color:white;">Create Account</h1>
                <br>
                <input class="usernameInput" type="text" name="username" placeholder="Username">
                <br>
                <input class="passwordInput" type="password" name="password" placeholder="Password">
                <br>
                <input class="passwordInput" type="password" name="confirmation" placeholder="Confirm Password">
                <br>
                <button class="button registerButton"type="SUBMIT">Create account</button>
            </div>
        </form>
    </div>
{% endblock %}
